# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science.
- list common libraries used
- list common data science tools
- create basic code cells in jupyter

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. ggplot
3. leaflet
4. seaborn

|Data Science Tools|
|-------|
|Jupyter Notebook|
|Rstudio|
|VS code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60.
def mintohour(min):
    hours = min/60
    return hours
mintohour(200)

3.3333333333333335

## Author
Brendan L.